<main>
  <div class="mt-40 text-center text-success">
    <h1>
      <i class="far fa-check-circle"></i> 
      Success!
    </h1>
  </div>
  <div class="mt-40 text-center">
    <div class="mt-20 text-center text-secondary border-placeholder" id="message">
      Add details about the payment here!
    </div>
  </div>
</main>

<script>
window.addEventListener('DOMContentLoaded', async () => {
  // publishable key from server
  const { publishable_key } = await fetch('/publishable_key').then(res => res.json());
  console.log(publishable_key);

  // initiate stripe
  const stripe = Stripe(publishable_key);

  // client secret from url
  const clientSecret = new URLSearchParams(window.location.search).get('payment_intent_client_secret');

  // retrieve payment intent and payment status
  // refer to https://docs.stripe.com/payments/accept-a-payment?ui=elements
  stripe.retrievePaymentIntent(clientSecret).then(({ paymentIntent }) => {
    const message = document.querySelector('#message');
    switch (paymentIntent.status) {
      case 'succeeded':
        message.innerText = "Success! Payment received";
        const intentId = paymentIntent.id;
        const amount = paymentIntent.amount;
        message.innerHTML += `<br><br>Payment Amount: ${(amount / 100).toFixed(2)}<br><br>Payment Intent ID: ${intentId}`;
        break;

      case 'processing':
        message.innerText = "Payment processing. We'll update you when payment is received.";
        break;

      case 'requires_payment_method':
        message.innerText = 'Payment failed. Please try another payment method.';
        // Redirect your user back to your payment page to attempt collecting payment again
        break;

      default:
        message.innerText = 'Something went wrong.';
        break;
    }
  });
});
</script>
